.body
    include ../pages/business
    include ../pages/about
    include ../pages/service
    include ../pages/company
    include ../pages/feature
    include ../pages/achievement
    include ../pages/team
    include ../pages/honorable