.header 
    nav.header__content.navbar
        input(type="checkbox" id='navbar__checkbox').navbar__checkbox
        a(href="#").navbar__left
            img(src="./image/company_logo.png").navbar__logo
        ul.navbar__center.menu 
            each val in navbar__array
                li.menu__item 
                    a(class=`menu__link ${val.active}`  href= val.url)= val.name
        .navbar__right
            img(src="./image/navbar__icon1.svg",).navbar__icon
            img(src="./image/navbar__icon2.svg",).navbar__icon
            label(for="navbar__checkbox").navbar__toggle 
                img(src="./image/navbar__burgermenu.svg",).navbar__icon