.about 
    img(src="./image/about_back.png", alt="").about__background
    .about__body 
        img(src="./image/about.png", alt="").about__image
        .about__content
            h3.about__subtitle ABOUT US
            h2.about__title 
                | We deal With The Aspects <br/>
                | of Professional IT Services
            p.about__description
                | Perferendis repudandae fugia rchitecto beatea rede <br/>
                | svitae recusa ndae debitifacere uiimi placeat  <br/>
                | maxienui
            .about__row
                .about__card.experiance
                    .experiance__logo
                        img(src="./image/experiance_icon.svg", alt="").experiance__image
                    .experiance__content
                        h4.experiance__title Experience
                        p.experiance__description 
                            | Experience repudandae fugia <br/>
                            | rchitecto beatea rederit.
                .about__card.support
                    .support__logo
                        img(src="./image/support_icon.svg", alt="").support__image
                    .support__content
                        h4.support__title Quick Support
                        p.support__description 
                            | Experience repudandae fugia <br/>
                            | rchitecto beatea rederit.