.business
    img(src="./image/frame1.png", alt="").business__background
    .business__content 
        h3.business__subtitle YOUR BUSINESS
        h1.business__title 
            | We execute our <br/>
            | ideas from start <br/>
            | to finish
        button.business__button Explore More
        a(href="#").business__link Watch Video 