.company
    img(src='./image/company_back.png').company_back
    .company_container 
        img(src="./image/company_card.png", alt="").company_image
        .company_box
            h3.company_subtitle ABOUT THE COMPANY
            h2.company_title Creative Solutions
            h5.company_main_description  
                | Perferendis repudandae fugia rchitecto beatea reder<br/>
                | svitae recusa ndae debitifacere uiimi placeat <br/>
                | maxienui
            p.company_description
                | Perferendis repudandae fugia rchitecto beatea rederit <br/>
                | svitae recusa ndae debitifacere uiimi placeat <br/>
                | maxienui Perferendis repudandae fugia rchitecto  <br/>
                | beatea rederit svitae recusa ndae debitifacere uiimi <br/>
                | placeat maxienui
            a(href='#').company_button
                img(src="./image/company_button.svg", alt="")
                | Watch Our <br/>
                | Two Minute Intro