.company
    img(src='./image/company_back.png').company__background
    .company__content 
        img(src="./image/company_card.png", alt="").company__image
        .company__box
            h3.company__subtitle ABOUT THE COMPANY
            h2.company__title Creative Solutions
            h5.company__main-description  
                | Perferendis repudandae fugia rchitecto beatea reder<br/>
                | svitae recusa ndae debitifacere uiimi placeat <br/>
                | maxienui
            p.company__description
                | Perferendis repudandae fugia rchitecto beatea rederit <br/>
                | svitae recusa ndae debitifacere uiimi placeat <br/>
                | maxienui Perferendis repudandae fugia rchitecto  <br/>
                | beatea rederit svitae recusa ndae debitifacere uiimi <br/>
                | placeat maxienui
            a(href='#').company__button
                img(src="./image/company_button.svg", alt="").company__play-icon
                | Watch Our <br/>
                | Two Minute Intro