.customers 
    .customers__content
        img(src='./image/customers_icon.svg').customers__icon
        h2.customers__title
            | Customers <br/> 
            | Stories
        .storie
            .storie__profile
                img(src='./image/storie_avatar.jpg').storie__avatar
                .storie__text
                    h3.storie__name Justin Pierre
                    p.storie__job Project Manager,Apple
                    img(src="./image/storie_star.png", alt="", srcset="").storie__star
            p.storie__comment
                | Increased review rates have helped us grow <br/> 
                | our brands 20% year over year.Perferendis <br/> 
                | repudandae fugia rchitecto beatea rederit <br/>
                | svitae recusa ndae debitifacere uiimi <br/> 
                | placeat maxienui   
        a(href='#').customers__more
            | READ MORE
            svg(width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg').customers__arrow
                path(d='M13.041 3.91406H1' stroke='#00BFC4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                path(d='M10.1133 1L13.0413 3.916L10.1133 6.832' stroke='#49B874' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    img(src='./image/costumers_image.jpg').customers__image
    .customers__dispathcher 
        a(href="").customers__left
            svg(width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.25 7.27441L16.25 7.27441' stroke='#00BFC4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                path(d='M7.30078 13.299C7.30078 13.299 1.25078 10.038 1.25078 7.276C1.25078 4.512 7.30078 1.25 7.30078 1.25' stroke='#00BFC4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
        a(href="").customers__right 
            svg(width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(opacity='0.4' d='M15.75 7.27441L0.75 7.27441' stroke='#00BFC4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                path(opacity='0.4' d='M9.69922 13.299C9.69922 13.299 15.7492 10.038 15.7492 7.276C15.7492 4.512 9.69922 1.25 9.69922 1.25' stroke='#00BFC4' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
