.execute
    img(src="./image/frame1.png", alt="")
    .execute_container 
        h3.execute_business YOUR BUSINESS
        h1.execute_title 
            | We execute our <br/>
            | ideas from start <br/>
            | to finish
        button.execute_button Explore More
        a(href="#") Watch Video 