.feature 
    ul.feature__filter.filter
        each val in feature_filter
            li.filter__item 
                a(href=val.href class=`filter__link ${val.selected}`)= val.title
    .feature_gallery
        each val in feature_gallery
            img(src=val).feature__images
    .feature__button 
        | View All
        img(src="./image/feature_button_icon.svg", alt="", srcset="").feature__button-icon