.honorable
    h2.honorable__title Our Most Honorable Patners
    .honorable__flexbox 
        each val in honorable_sponsors
            img(src=val).honorable__sponsors
    button.honorable__button Meet our Patners
    
