.service 
    img(src='./image/service_back.png').service__background
    .service__content
        h3.service__subtitle SERVICE
        h2.service__title 
            | Service Thats Lead The <br/>
            | Way to Better Business
        .service__flexbox
            each val in service_card 
                +card(val.title,val.description,val.icon,val.class)
    button.service__button
        | View All
        img(src="./image/service_button_arrow.svg", alt="", srcset="").service__arrow