.team 
    img( src='./image/team_background.png').team__background
    .team__header 
        h3.team__subtitle TEAM
        h2.team__title Professional Team
        p.team__description 
            | Perferendis repudandae fugia rchitecto beatea <br/>
            | rederit svitae recusa ndae debitifacere.
    .team__gallery 
        each val in team_gallery
            img(src=val).team__images
    .team__slider
        .team__pointer.team__pointer--active
        .team__pointer
        .team__pointer
        .team__pointer
        .team__pointer
            
                
                