extends ./pug/layouts/default
include ./pug/helpers/mixins

block variables
    include ./pug/helpers/variables

block content
    .container
        include ./pug/components/header
        include ./pug/components/body

block scripts