@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

@mixin fonts($size, $weight, $family, $lineHeight, $color) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    line-height: $lineHeight;
    color: $color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@import'./scss/header';