.body{
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

@import'./business';
@import'./about';
@import'./service';
@import'./company';
@import'./feature';
@import'./achievement';
@import'./team';
@import'./honorable';
@import'./customers.scss'