.body{
    width: 100%;
    height: 9000px;
    position: relative;
    background-color: #ffffff;
}

@import'./business';
@import'./about';
@import'./service';
@import'./company';
@import'./feature';
@import'./achievement';