.customers{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 38px 135/1440*100% 330px 220/1440*100%;

    @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 770px) {
        padding: 38px 80/1440*100% 330px 80/1440*100%;
        justify-content: center;
    }

    &__image{
        width: 100%;
        max-width: 552px;
        height:auto;
        max-height: 675px;
    }

    &__content{
        padding: 60px 0 0 0;
        word-break: break-word;
    }

    &__icon{
        padding: 0 0 25px 0;
    }

    &__title{
        letter-spacing: 0.5px;
        padding: 0 0 30px 0;
        @include fonts(
                $size: 44px,
                $weight: 700,
                $family: 'Josefin Sans',
                $lineHeight: 60px,
                $color: #00788A
            );
    }

    &__more{
        display: block;
        padding: 32px 0 0 0;
        text-decoration: none;
        @include fonts(
                $size: 16px,
                $weight: 800,
                $family: 'Gilroy',
                $lineHeight: 16px,
                $color: #00BFC4

            );
    }

    &__arrow{
        margin: 0 0 0 10px ;
    }

    &__dispathcher{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 262px;
        margin: 30px auto 30px ;
        width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


}
.storie{

    &__profile{
        display: flex;
        justify-content: flex-start;
        gap: 15px;
    }

    &__name{
        letter-spacing: .4px;
        padding: 3px 0 0 0;
        @include fonts(
                $size: 16px,
                $weight: 700,
                $family: 'Poppins',
                $lineHeight: null,
                $color: #083038
            );
    }

    &__job{
        opacity: 0.5;
        letter-spacing: .125px;
        padding: 0 0 3px 0;
        @include fonts(
                $size: 14px,
                $weight: 500,
                $family: 'Poppins',
                $lineHeight: null,
                $color: #083038
            );
    }

    &__comment{
        letter-spacing: 0.4px;
        font-style: italic;
        padding: 35px 0 0 0;
        @include fonts(
                $size: 20px,
                $weight: 500,
                $family: 'Poppins',
                $lineHeight: 34px,
                $color: #083038
            );
    }
}