.feature{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;


    &__filter{
        list-style: none;
        box-shadow: 0 21px 33px -10px rgba(37, 126, 129, 0.16);
        position: relative;
        left: 43px;

        @media only screen and (max-width: 1200px){
            left: 0;
            flex-direction: column;
            background-color:#F6FFFF ;
        }
        
    }

    &_gallery{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
        padding: 98px 50px 78px 50px;

    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 34px;
        padding: 23px 38px 25px 38px;
        border:none;
        border-radius: 6px;
        background-image:linear-gradient(90deg, rgba(0,191,196,1) 0%, rgba(0,191,196,1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);

        @include fonts(
                $size: 16px,
                $weight: 600,
                $family: 'Poppins',
                $lineHeight: null,
                $color: #083038
            );
    }
}
.filter{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__item{
        background-color: #F6FFFF;
    }

    &__link{
        display: block;
        text-decoration: none;
        letter-spacing: 0.05px;
        padding: 20px;
        @include fonts(
            $size: 16px,
            $weight: 500,
            $family: 'Poppins',
            $lineHeight: 16px,
            $color: #083038
        )
    }

    &__link--selected{
        background-color: #00BFC4;
        border-radius: 6px;
        color: #ffffff;
    }
}