mixin card (title, description,divIcon,divClass)
    div(class=divClass).card
        .card__content
            .card__icon-box 
                img(src=divIcon).card__icon 
            h3.card__title= title
            p.card__description!= description
