- const title = "CodeTime"
- 
    const navbar_links = [
        {
            name:'HOME',
            url:'/',
            inPage: 'selected'
        },
        {
            name:'PAGES',
            url:'/pages',
            inPage: null
        },
        {
            name:'PORTFOLIO',
            url:'/portfolio',
            inPage: null
        },
        {
            name:'BLOG',
            url:'/blog',
            inPage: null
        },
        {
            name:'CONTACTS',
            url:'/contacts',
            inPage: null
        }
    ]