- const title = "CodeTime"
- 
    const navbar__array = [        
        {
            name:'HOME',
            url:'/',
            active: 'menu__link--active'
        },
        {
            name:'PAGES',
            url:'/pages',
            active: ''
        },
        {
            name:'PORTFOLIO',
            url:'/portfolio',
            active: ''
        },
        {
            name:'BLOG',
            url:'/blog',
            active: ''
        },
        {
            name:'CONTACTS',
            url:'/contacts',
            active: ''
        }
    ]
-
    const service_card = [
            {
                title: 'Digital Solution',
                description: 'Digital Soutions Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'service__card',
                icon:'./image/digital_icon.png'                 
            },
            {
                title: 'Branding',
                description: 'Branding Experience is repudandae fugia <br/> rchitecto beatea rederit.',
                class:'service__card service__card--active',
                icon:'./image/branding_icon.png',
            },
            {
                title: 'Business Plan',
                description: 'Business Plan Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'service__card',
                icon:'./image/business_icon.png',
            },
            {
                title: 'Marketing Policy',
                description: 'Marketing Policy Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'service__card',
                icon:'./image/marketing_icon.png',
            },
            {
                title: 'Creative Strategy ',
                description: 'Creative Strategy Experience is <br/> repudandae fugia rchitecto beatea rederit.',
                class:'service__card',
                icon:'./image/creative_icon.png',
            },
            {
                title: 'Campaign ',
                description: 'Campaign Experience is repudandae fugia <br/> rchitecto beatea rederit.',
                class:'service__card',
                icon:'./image/campaign_icon.png',
            },
    ]
-
    const feature_filter = [
        {
            title: 'All',
            href: '#',
            selected:'filter__link--selected',
        },
        {
            title: 'Coaching',
            href: '#',
            selected: '',
        },
        {
            title: 'Facilitation',
            href: '#',
            selected:'',
        },
        {
            title: 'Stakeholder Relations',
            href: '#',
            selected:'',
        },
        {
            title: 'Strategy',
            href: '#',
            selected: '',
        }    
    ]
- 
    const feature_gallery = [
        './image/feature_gallery1.png',
        './image/feature_gallery2.png',
        './image/feature_gallery3.png',
        './image/feature_gallery4.png',
    ]
-
    const achievment__list = [
        {
            number:'1050',
            text:'Completed Projects',
            color: 'counting__item--orange'
        },
        {
            number:'599',
            text:'Satisfied Clients',
            color: 'counting__item--red'
        },
        {
            number:'25',
            text:'Team Members',
            color: 'counting__item--green'
        },
        {
            number:'50',
            text:'Nationlal Awards Winner',
            color: 'counting__item--blue'
        }
    ]    

-
    const team_gallery = [
        './image/team_profile1.jpg',
        './image/team_profile2.jpg',
        './image/team_profile3.jpg',
        './image/team_profile4.jpg',
    ]