- const title = "CodeTime"
- 
    const navbar_links = [        
        {
            name:'HOME',
            url:'/',
            inPage: 'selected'
        },
        {
            name:'PAGES',
            url:'/pages',
            inPage: null
        },
        {
            name:'PORTFOLIO',
            url:'/portfolio',
            inPage: null
        },
        {
            name:'BLOG',
            url:'/blog',
            inPage: null
        },
        {
            name:'CONTACTS',
            url:'/contacts',
            inPage: null
        }
    ]
-
    const service_card = [
            {
                title: 'Digital Solution',
                description: 'Digital Soutions Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'digital_card',
                icon:'./image/digital_icon.png'                 
            },
            {
                title: 'Branding',
                description: 'Branding Experience is repudandae fugia <br/> rchitecto beatea rederit.',
                class:'branding_card',
                icon:'./image/branding_icon.png',
            },
            {
                title: 'Business Plan',
                description: 'Business Plan Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'business_card',
                icon:'./image/business_icon.png',
            },
            {
                title: 'Marketing Policy',
                description: 'Marketing Policy Experience is repudandae <br/> fugia rchitecto beatea rederit.',
                class:'marketing_card',
                icon:'./image/marketing_icon.png',
            },
            {
                title: 'Creative Strategy ',
                description: 'Creative Strategy Experience is <br/> repudandae fugia rchitecto beatea rederit.',
                class:'creative_card',
                icon:'./image/creative_icon.png',
            },
            {
                title: 'Campaign ',
                description: 'Campaign Experience is repudandae fugia <br/> rchitecto beatea rederit.',
                class:'campaign_card',
                icon:'./image/campaign_icon.png',
            },
    ]
-
    const feature_filter = [
        {
            title: 'All',
            href: '#',
            selected:'selected',
        },
        {
            title: 'Coaching',
            href: '#',
            selected: null,
        },
        {
            title: 'Facilitation',
            href: '#',
            selected:null,
        },
        {
            title: 'Stakeholder Relations',
            href: '#',
            selected:null,
        },
        {
            title: 'Strategy',
            href: '#',
            selected: null,
        }    
    ]
- 
    const feature_gallery = [
        './image/feature_gallery1.png',
        './image/feature_gallery2.png',
        './image/feature_gallery3.png',
        './image/feature_gallery4.png',
    ]